.big-button {
    background-color: #0079D3;
    border-radius: .8rem;
    margin: auto;
    padding: .5% 0;
    text-align: center;
    width: 85%;

    span {
        color: #fff;
        font-size: .8rem;
        font-weight: 600;
    }
}