.small-button {
    background-color: #0079D3;
    border-radius: .8rem;
    height: 1.2rem;
    padding: .2rem .8rem;
    text-align: center;
    width: max-content;

    span {
        color: #fff;
        font-size: .8rem;
        font-weight: 600;
    }
}